
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Little Lemon</title>
   <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


   <img src="{% static 'img/logo.png' %}" alt="">

   <nav>
      <ul>
         <li>
            <a href="/restaurant">Home</a>
         </li>
         <li>
            <a href="menu">Menu</a>
         </li>
         <li>
            <a href="booking">Booking</a>
         </li>
         
      </ul>
   </nav>

   <article>
      <img src="{% static 'img/head_chef.jpg' %}" alt="">
   </article>

   <footer>
      <h4>Little Lemon 2024</h4>
   </footer>
   
</body>
</html>